body{
    background-image: url('background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

h1{
    font-size : 47px;
    text-align : center;
    font-family : Gloucester MT Extra Condensed, Papyrus, Times New Roman, Serif;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2{
    font-size : 47px;
    text-align : center;
    font-family : Gloucester MT Extra Condensed, Bell MT, Times New Roman, Serif;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

h3{
    font-size : 20px;
    text-align : center;
    font-family : Gloucester MT Extra Condensed, Bell MT, Times New Roman, Serif;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}


#easter_egg{
    width: 80px; 
    height: 50px;
    display : block;
    margin: 0;
    position: absolute;
    top: 95%;
    right: 1%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#choixpeau{
    display : block;
    margin-left : auto;
    margin-right: auto;
    height: 250px;
}

#depart{
    font-size: 25px;
    font-family: Bell MT, Times New Roman, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#reponse1{
    text-align: center;
    font-size: 20px;
    font-family: Bell MT, Times New Roman, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#reponse2{
    text-align: center;
    font-size: 20px;
    font-family: Bell MT, Times New Roman, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#reponse3{
    text-align: center;
    font-size: 20px;
    font-family: Bell MT, Times New Roman, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#reponse4{
    text-align: center;
    font-size: 20px;
    font-family: Bell MT, Times New Roman, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#question{
    font-size : 45px;
    text-align : center;
    font-family : Gloucester MT Extra Condensed, Bell MT, Papyrus, Times New Roman, Serif;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#gryffondor, #serpentard, #serdaigle, #poufsouffle{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
